<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    <div class="row">
      <div class="col-md-5">
        <%= image_tag "20190913_102911.jpg", width: "100%", alt: "Profile Image", class: "profile-img" %>
        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning"
                    role="progressbar"
                    aria-valuenow="<%= skill.percent_util %>"
                    aria-valuemax="100"
                    style="width: <%= skill.percent_util %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-7">
        <p>My goal is to take your business to the next level with a web application having all the features you need! Clients don't want to get down to the tech savvy level if they don't want to and that's fair. I'm a good listener and can exchange ideas without all the jargon.</p>
        <p>I've been developing applications for the past few years and I know that if I take on a project I will do whatever it takes to make you happy with your product. I want to give your users an amazing experience, and you, an amazing product. Everyone should be happy.</p>
        <!-- Start Job History/Other (Once I complete an employment term this will be uncommented)
        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controller="#jobHistory"
          >
            Job History
          </button>
        </p>

        <p>
          <div id="jobHistory" class="collapse">
            <div class="card">
              <div class="card-body">
                jobtigd8rt8u7sei56iy6595698678
              </div>
            </div>
          </div>
        </p>
        End Job History/Other-->
      </div>
    </div>
  </div>
</div>


