<h1>About Me</h1>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "20190913_102911.jpg", width: 300, alt: "Profile Image" %>
  </div>
  <div class="col-md-8">
    <p>My goal is to take your business to the next level with a web application having all the features you need! Clients don't want to get down to the tech savvy level if they don't want to and that's fair. I'm a good listener and can exchange ideas without all the jargon.</p>
    <p>I've been developing applications for the past few years and I know that if I take on a project I will do whatever it takes to make you happy with your product. I want to give your users an amazing experience, and you, an amazing product. Everyone should be happy.</p>
  </div>
</div>
