<main role="main" class="inner cover">
  <h1 class="cover-heading">Hey There!</h1>
  <p class="lead">Software Development is a wonderful tool for those who need it. Everyone should have access to the tools they need to get the job done to make lives smarter and happier!</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>